<div class="row">
    <div class="span12 text-center" data-bind="css: { 'hide': window.ServerState.loadedAtLeastOnce() }">
        <p>Loading the scoreboard...</p>
    </div>
    <!-- ko if: window.ServerState.loadedAtLeastOnce() -->
    <div data-bind="css: { 'hide': scoreboard.hasPlayers } " class="span12 text-center">
        <h2>OH NOES D:</h2>
        <p>This server has no players connected!</p>
    </div>
    <!-- /ko -->
    <!-- ko foreach: scoreboard.nonNeutralTeams -->
        <!-- ko if: hasPlayers -->
            <div class="span6">
                <table class="table table-hover table-border scoreboard" data-bind="attr: { id: 'team-' + id() }">
                    <caption>
                        <div class="row">
                            <div class="span6">Team <span data-bind="text: id"></span></div>
                            <strong class="span1" style="text-align: right" data-bind="text: score"></strong>
                            <div class="progress progress-striped span4">
                                <div class="bar" data-bind="style: { width: progressBarWidth }"></div>
                            </div>
                            <strong class="span1" style="text-align: left" data-bind="text: targetScore"></strong>
                        </div>
                    </caption>
                    <thead>
                        <th class="rank-icon-cell"></th>
                        <th>Name</th>
                        <th>Kills</th>
                        <th>Deaths</th>
                        <th>Score</th>
                    </thead>
                    <tbody data-bind="foreach: players">
                        <tr class="player-row" data-bind="
                            attr: { id: name, class: 'squad-' + squad() },
                            click: function() { $root.scoreboard.openUserModal($data) },
                            event: {
                                mouseenter: function() { $root.scoreboard.highlightSquadmates($data) },
                                mouseleave: function() { $root.scoreboard.removeSquadmateHighlights($data) }
                            }">
                            <td class="rank-icon-cell"><i class="sprite" data-bind="css: 'sprite-rank-' + rank()"></i></td>
                            <td><span data-bind="text: name"></span></td>
                            <td data-bind="text: kills"></td>
                            <td data-bind="text: deaths"></td>
                            <td data-bind="text: score"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        <!-- /ko -->
    <!-- /ko -->
    <!-- ko if: scoreboard.hasNeutralPlayers -->
        <div class="span12">
            <table class="table table-hover table-border scoreboard" id="scoreboard-0">
                <caption>Neutral Players</caption>
                <thead>
                    <th class="rank-icon-cell"></th>
                    <th>Name</th>
                </thead>
                <tbody data-bind="foreach: scoreboard.neutralPlayers().players">
                    <tr class="player-row" data-bind="attr: { id: name }, click: function() { console.log($data.team().id()) }">
                        <td class="rank-icon-cell"><i class="sprite" data-bind="css: 'sprite-rank-' + rank()"></i></td>
                        <td><span data-bind="text: name"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    <!-- /ko -->
</div>

<div class="fade" data-bind="modal: scoreboard.currentModalUser" id="scoreboard-player-modal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div id="modal-name-and-actions">
            <h3 data-bind="text: name" id="modal-player-name"></h3>
            <div id="modal-player-actions">
                <button class="btn btn-mini btn-inverse">Kill</button>
                <button class="btn btn-mini btn-warning">Kick</button>
                <button class="btn btn-mini btn-danger">Ban</button>
            </div>
        </div>

        <span class="muted" data-bind="text: guid"></span>
    </div>
    <div class="modal-body" id="player-stats">
        <h4>Chat Log</h4>
        <table class="table table-border text-center">
            <thead>
                <tr>
                    <th>Player</th>
                    <th>Audience</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: { data: messages }">
                <tr data-bind="css: colorCode">
                    <td data-bind="text: player"></td>
                    <td data-bind="text: audience"></td>
                    <td data-bind="text: message"></td>
                </tr>
            </tbody>
        </table>
        <div id="player-chat-input">
            <form onsubmit="return false;" class="form-horizontal" id="player-chat-form">
                <input type="text" placeholder="Enter a message..." name="send-player-message" />
                <button type="button" class="btn btn-info" id="send-player-chat" data-bind="click: function() { $root.chatMessages.sendChatFromPlayerForm(false) }" />Chat</button>
                <button type="button" class="btn btn-warn" id="send-player-yell" data-bind="click: function() { $root.chatMessages.sendChatFromPlayerForm(true) }" />Yell</button>
            </form>
        </div>
    </div>
</div>